# Logs - Keep the `logs` folder, ignore specific files
logs/*.log
logs/npm-debug.log*
logs/yarn-debug.log*
logs/yarn-error.log*
logs/pnpm-debug.log*
logs/lerna-debug.log*


# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage
.nyc_output

# Environment variables
.env
.env.*
!.env.example

# Build files
build
out
.next

# Cache
.cache
.eslintcache
.stylelintcache
*.tsbuildinfo

# Misc
.DS_Store
Thumbs.db